@font-face {
    font-family: "IntoneMonoNerd";
    src: url("/assets/fonts/IntoneMonoNerdFontMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IntoneMonoNerd";
    background-image: url("https://images.chesscomfiles.com/chess-themes/backgrounds/originals/large/game_room.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 150vh;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    color: white;           /* optional: for contrast */
    padding: 0.1rem 1rem;   /* optional: for spacing inside the header */
    border-radius: 7px;     /* optional: slight rounded corners */
    margin: 0.25rem 0;
    transition: all 0.3s ease-in-out;  /* smooth transition */
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.7); /* soft glow */
    transform: scale(1.005); /* slight zoom */
}

.div-filler-outer {
    background-color:#333633;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/*For nerdfont icons*/
.bigger-nf-icon {
    font-size: 2.5rem;
    color: white; 
    vertical-align: middle;
}

/*For dropdowns*/
.select-value {
    font-size: 10px;
}

/*For Date Picker*/

/* Highlight selected date */
.DayPicker, {
    background-color: #45734b;
    color: white;
}

/* On hover */
.CalendarDay:hover {
    background-color: #609b69;
    color: white;
}

